.DS_Store
node_modules

/build/*

!build/[0-9]*/
build/[0-9]*/*
!build/[0-9]*/[0-9]*.json

!build/_app/
build/_app/*
!build/_app/version.json

/.svelte-kit
/package
.env.local
.env.development.local
.env.production.local
.env.sendgrid.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
