@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'SUIT', sans-serif;
}

body,
dialog {
	user-select: none;
}

html,
body,
body > div {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
