@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* Civil Defense Logo */
	--green: rgb(0, 153, 51);
	--blue: rgb(0, 153, 204);
	--yellow: rgb(255, 204, 0);
	/* Tailwind Colors */
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-500: #6b7280;
	--gray-900: #111827;
	--indigo-700: #4338ca;
}

body {
	font-family: 'SUIT', sans-serif;
	background-color: var(--gray-100);
	color: var(--gray-900);
	word-break: keep-all;
}

body,
dialog {
	user-select: none;
}

html,
body,
body > div {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
